<!DOCTYPE html>
<html>
<head>
	<title>Chat~~Up</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
	<div class="container">
		<div class="register">
			<h2>Nodejs chatApp<br><em>chat up someone right now...</em></h2><hr>
			<form method="POST" action="/">
				<% if(typeof(message) === 'undefined'){%>
					<label class="label">Register</label>
				<%}else{%>
					<label style="color:green" class="label"><%= message %></label>
				<%}%>
				<input type="text" name="name" placeholder="Name"/>
				<input type="email" name="email" placeholder="Email"/>
				<input type="password" name="password" placeholder="Password"/>
				<select name="gender"><option value="Male">Male</option><option option="Female">Female</option></select>
				<input type="submit" name="submit">
			</form>
		</div>
		<div class="phone">
			<label class="phonename">ANDROID</label>
			<div class="inner">
				<form method="POST" action="/chatapp">
					<table>
						<tr><h2>LOGIN</h2></tr><br/>
						<% if(typeof(mess) === 'undefined'){%>
							<p></p>
						<%}else{%>
							<tr><label style="color:green" class="label"><%= mess %></label><tr>
						<%}%>
						<tr><label>Email: </label><input type="email" name="email"></tr>
						<tr><label>Password: </label><input type="password" name="password"></tr>
						<input type="submit" name="submit">
					</table>
				</form>
			</div>
			<table>
				<td>
				</td>
			</table>
		</div>
	</div>
</body>
<script src="chat.js"></script>
</html>
